.Info{
    width: 400px;
    height: 90px;
    color: white;
    text-align: left;
    background-color: maroon;
    margin-left: 300px;
    margin-top: -250px;
}


.AboutMe{
    width: 75px;
    height: 45px;
}
.Line{
    margin-top: 150px;
}