.container{
    width: 200px;
    height: 100px;
    background-color: red;
    padding: 10px;
    border-color: green;
    color: blueviolet;
    margin-left: 10px;
    border-style: solid;
    border-width: 10px;
}
.container2{
    width: 200px;
    height: 100px;
    background-color: yellow;
    padding: 10px;
    margin-left: 270px;
    margin-top: -140px;
    border-color: red;
    color: darkblue;
    border-style: solid;
    border-width: 10px;

}
.container3{
    width: 200px;
    height: 100px;
    background-color: green;
    padding: 10px;
    margin-left: 530px;
    margin-top: -140px;
    border-color: yellow;
    border-style: solid;
    border-width: 10px;
    color: blue;
}